:root {
  --bg-color:#ffffff ;
  --primary-color: #83c2f7;
  --text-color: #000000;
  --accent-color: #0d273d;
  --border-color: #000000;
  --font: 'Inter', sans-serif;
}
@font-face {
    font-family: 'Epilogue';
    src: url(Epilogue-VariableFont_wght.ttf);
}

* {
  margin: 0;
  /* background-color: ; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Epilogue";
  background-color: white;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
}

.navbar {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  display: flex;
  height: auto;
  gap : 2rem;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 20px var(--accent-color);
  
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display:flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.hero {
  background: linear-gradient(to right, var(bg-color), #ffffff);
  padding: 6rem 2rem;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about img {
  align-self: center;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 0 20px var(--accent-color);
    margin-bottom: 1.5rem;
}

.hero-content h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.hero-content p {
 
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--accent-color);
}


.about {
  text-align: center;
  line-height: 1.5;
  
  
}
.about-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}

.cv a{
  margin-top: 1rem;
}

.btn {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  flex: 1;
  padding: .5rem;
  max-width: 90%;
  margin: auto;
}

section {
  margin-bottom: 3rem;
}

h2 {
  color: var(--accent-color);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.skill-grid,
.project-grid {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}
.card h2 {
  font-weight: 700;
}
.projects-title{
  text-align: center;
  margin-top: 2rem;
}

.all-projects {
  margin-top: 1.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.all-projects p {
  display: none;
}
.all-projects .project-card h3 {
  font-weight: 400;
}

.card,
.project-card {
  background-color: #ffffff;
  padding: 1rem;
  width: auto;
  border-radius: 8px;
  border: 1px solid rgb(160, 158, 158);
  transition: transform 0.2s ease;
  text-align: center;
}

.card:hover,
.project-card:hover {
  transform: translateY(-5px);
  border-color: var(--accent-color);
}

a {
  color: var(--accent-color);
}
.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    
}
.education-info {
    width: 85%;
}
.education-info p {
  font-size: 18px;
}
.education-info h2{
  font-size: 25px;
}
.references {
  text-align: left;
  justify-content: center;
}
.reference-grid {
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    line-height: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  text-align: left;
}



footer {
  text-align: center;
  padding: 1rem;
  background-color: #111827;
  font-size: 0.9rem;
  color: #9CA3AF;
}

@media screen and (min-width:800px){
  .nav-container{
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
  }
  .nav-links{
    display: flex;
  }
  .hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  .about img {
  align-self: flex-start;
  height: 300px;
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    margin-left: 1rem;
    margin-right: 3rem;
  }
  .about-info{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .about img {
    width: 30%;
    border-radius: 15px;
    
  }
   .skill-grid,
  .project-grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .projects-title{
    margin-top: 1rem;
    justify-self: center;
  }

  .all-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    
  }
}